<div class="section">
  <div class="container">
    <div class="content-section">
      <div class="title">
        <h1>About Us</h1>
      </div>
      <div class="content">
        <h3> Cars Catalogue</h3>
        <p>Cars is a leading digital marketplace and solutions provider for the automotive industry that connects car shoppers with sellers. Launched in 1998 and headquartered in Chicago, the Company empowers shoppers with the data, resources and digital tools needed to make informed buying decisions and seamlessly connect with automotive retailers. In a rapidly changing market, Cars enables dealerships and OEMs with innovative technical solutions and data-driven intelligence to better reach and influence ready-to-buy shoppers, increase inventory turn and gain market share. In 2018, Cars acquired Dealer Inspire®, an innovative technology company building solutions that future-proof dealerships with more efficient operations, a faster and easier car buying process, and connected digital experiences that sell and service more vehicles.</p>
        <div class="button">
          <a href="https://continuousnet.com/">Read More </a>
        </div>
      </div>
    </div>
    <div class="image-section">
      <img src="../../assets/logo6.jpg">
    </div>
  </div>
</div>