<section >
  <div class="group">
    <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
    <input placeholder="Search" type="search" [(ngModel)]="recherche" class="input">
  </div>
  
  <div class="d-flex flex-row">
  
    <div class="px-4">
      <ul class="custom-list-group1" id="myList" style="max-height: 300px; overflow-y: auto; overflow-x: hidden;">
        <li
          class="custom-list-group-item1"
          *ngFor="let mark of makeList"
          (click)="filterModelsByMake(mark)"
        >
          {{ mark }}
        </li>
      </ul>
      <button class="btn btn-primary" (click)="clearFilter()">Clear Filter</button>
    </div>
    


    <div class="row">
      <div
        class="col-lg-3 col-md-6 col-sm-6"
        *ngFor="
          let item of models_F
            | paginate : { itemsPerPage: 20, currentPage: page }
        "
      >
        <!-- Card -->
        <div class="card my-2 shadow-0">
          <a href="#" class="img-wrap">
            <div class="mask" style="height: 50px">
              <div
                class="d-flex justify-content-start align-items-start h-100 m-2"
              >
                <h6><span class="badge bg-success pt-2">Offer</span></h6>
              </div>
            </div>
            <img
              class="card-img-top"
              [src]="imgUrl + item.image"
              style="aspect-ratio: 1 / 1"
              alt="Product Image"
            />
            <img
              class="card-img-down"
              [src]="imgUrl + item.makerImage"
              alt="Maker Image"
            />
          </a>
          <h5 class="product-model">
            {{ item.vehicleMake }} {{ item.vehicleModel }}
          </h5>
          <p class="product-version">Version: {{ item.vehicleModelVersion }}</p>
          <div class="card-body p-0 pt-3 d-flex justify-content-center">
            <button class="shadow__btn" (click)="openModal(item.id)">
              Details
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<pagination-controls (pageChange)="page = $event"></pagination-controls>




